<div class="card">
  <div class="card-header">
    <div class="float-left">
      <h4>Setor</h4>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Setor</th>
          <th>Alterar</th>
          <th>Excluir</th>
          <th>teste</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let setor of setores">
          <td>{{ setor.idSetor }}</td>
          <td>{{ setor.nome }}</td>
          <td><button type="button" class="btn btn-info">Atualizar</button></td>
          <td><button type="button" class="btn btn-danger">Excluir</button></td>
        </tr>
      </tbody>
    </table>

    <!--<ng-template #loading>
        <span>Carregando Cursos...</span>
      </ng-template>
  
      ng-template #loadingError>
        <div *ngIf="error$ | async; else loading" >
          Erro ao carregar cursos. Tente novamente mais tarde.
        </div>
        <ng-template #loading>
            <span>Carregando Cursos...</span>
        </ng-template>
      </ng-template -->
  </div>
</div>